<!--お気に入り投稿一覧表示画面-->

<div class="container favorite-article">

  <!--ログインユーザーの部分テンプレート-->
  <div class="row">
    <%= render 'users/current_user_show', user: @user %>
  </div>

  <div class="row favorite-article-title">
    <hr class="border-line"/>
    <h2>お気に入りの投稿</h2>
    <hr class="border-line"/>
  </div>

  <!--お気に入り投稿一覧表示-->
  <div class="favorite-article-index">
    <%= render 'articles/article_index', articles: @articles %>
  </div>

  <!--ページング-->
  <div class="text-center favorite-article-index-paginate"><%= paginate @articles %></div>

</div>