<!--お気に入りした投稿一覧表示画面-->

<div class="container favorite-article">

  <!--ログインユーザーの部分テンプレート-->
  <%= render 'users/current_user_show', user: @user %>

  <!--お気に入り投稿一覧表示-->
  <div class="favorite-article-index">
    <%= render 'articles/article_index', articles: @articles %>
  </div>

</div>