<!--フォローユーザー一覧表示画面-->

<div class="container follow-index">

  <div class="row follow-index-user">
    <!--ログインユーザー表示-->
    <%= render 'users/current_user_show', user: @user %>
  </div>

  <h2 class="row follow-index-title">フォローしている人</h2>

  <!--フォローユーザー一覧表示-->
  <div class="row follow-index-users">
    <% @user.following.each do |user| %>
      <div class="row follow-index-user">
        <div class="col-sm-4 follow-index-user-image">
          <%= attachment_image_tag user, :profile_image, :fill, 150, 150, format: 'jpeg', fallback: "noimage.jpg", size: '150x150' %>
        </div>
        <div class="col-sm-8 follow-index-user-details">
          <div class="follow-index-user-nickname">
            <%= user.nickname %> <span class="follow-index-user-nickname-san">さん</span>
          </div>
          </br>
          <div class="follow-index-user-living_alone_month">
            ひとり暮らし歴：<%= user.living_alone_month %>ヶ月目
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>