<!--お知らせ一覧-->

<div class="container notification">

  <div class="row notification-title">
    <hr class="border-line"/>
    <h2 class="text-center">みんなからのお知らせ</h2>
    <hr class="border-line notification-border"/>
  </div>

  <div class="">
    <% notifications = @notifications %>
    <% if notifications.exists? %>
      <%= render notifications %>
    <% else %>
      <div>
        <%= image_tag 'notification.jpg', class: "notification-nothing" %>
      </div>
    <% end %>
  </div>

</div>