<!--退会確認-->

<div class="container unsubscribe">

  <div class="row unsubscribe-title">
    <hr class="border-line"/>
    <h2 class="row unsubscribe-title-title">本当に退会しますか？</h2>
    <hr class="border-line"/>
  </div>

  <div class="row unsubscribe-message">
    <p>
      退会すると、会員情報や</br>
      投稿した情報は全て消えてしまいます。</br>
      退会する場合は「はい、退会します」を<br class="br-phone" />クリックしてください。
    </p>
  </div>

  <div class="row unsubscribe-buttons">
    <div class="unsubscribe-button">
      
      <% if current_user.email == 'guest@user.com' %>
        <div>
          <%= link_to edit_user_path(current_user) do %>
            <button class="btn btn-default btn-lg unsubscribe-button-back">
              いいえ、退会しません
            </button>
          <% end %>
        </div>
        <div>
          <button class="btn btn-default btn-lg unsubscribe-button-confirm" disabled="disabled">
            はい、退会します
          </button>
        </div>
      <% else %>
        <div>
          <%= link_to edit_user_path(current_user) do %>
            <button class="btn btn-default btn-lg unsubscribe-button-back">
              いいえ、退会しません
            </button>
          <% end %>
        </div>
        <div>
          <%= link_to users_withdraw_path(current_user), method: :patch, data: {confirm: "本当に退会してもよろしいですか？"} do  %>
            <button class="btn btn-default btn-lg unsubscribe-button-confirm">
              はい、退会します
            </button>
          <% end %>
        </div>
      <% end %>
      
    </div>
  </div>

</div>