<!--退会確認画面-->

<div class="container unsubscribe">

  <div class="row unsubscribe-title">
    <hr class="border-line"/>
    <h2>本当に退会しますか？</h2>
    <hr class="border-line"/>
  </div>

  <div class="unsubscribe-message">
    <p>退会すると、会員情報や</p>
    <p>みんなの投稿が閲覧できなくなります。</p>
    <p>退会する場合は退会するをクリックしてください。</p>
  </div>

  <div class="row unsubscribe-buttons">
    <div class="unsubscribe-button">
      <% if current_user.nickname == 'ゲスト' %>
        <div>
          <button class="btn btn-default btn-lg unsubscribe-button-confirm">
            退会しない
          </button>
        </div>
        <div>
          <button class="btn btn-default btn-lg unsubscribe-button-confirm">
            退会する
          </button>
        </div>
      <% else %>
        <div>
          <%= link_to user_path(current_user) do %>
            <button class="btn btn-default btn-lg unsubscribe-button-confirm">
              退会しない
            </button>
          <% end %>
        </div>
        <div>
          <%= link_to users_withdraw_path(current_user.id), method: :patch, data: {confirm: "本当に退会してもよろしいですか？"} do  %>
            <button class="btn btn-default btn-lg unsubscribe-button-confirm">
              退会する
            </button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>