<!--新規登録・ログインボタンの部分テンプレート-->

<div class="row top-access">
  <button type="button" class="btn btn-default btn-lg top-access-button">
    <%= link_to "新規会員(無料)はこちら", new_user_registration_path %>
  </button>
  <button type="button" class="btn btn-default btn-lg top-access-button">
    <%= link_to "ログインはこちら" %>
  </button>
  <button type="button" class="btn btn-default btn-lg top-access-button">
    <%= link_to "簡単ログインはこちら", new_user_session_path %>
  </button>
</div>