<!--新規登録・ログインボタンの部分テンプレート-->

<div class="row top-access">
  <div class="top-access-button">
    <%= link_to new_user_registration_path do %>
      <button type="button" class="btn btn-default btn-lg">新規会員(無料)はこちら</button>
    <% end %>
  </div>
  <div class="top-access-button">
    <%= link_to user_session_path, class: "top-access-button" do %>
      <button type="button" class="btn btn-default btn-lg">ログインはこちら</button>
    <% end %>
  </div>
  <div class="top-access-button">
    <%= link_to users_guest_sign_in_path, method: :post, class: "top-access-button" do %>
      <button type="button" class="btn btn-default btn-lg">簡単ログインはこちら</button>
    <% end %>
  </div>
</div>