<!--新規登録・ログイン・Aboutページ　ボタン-->
 
<div class="row access-buttons">
  
  <div class="access-button">
    <%= link_to about_path do %>
      <button type="button" class="btn btn-default btn-lg access-button-about">
        <i class="fa fa-sun-o" aria-hidden="true" style="color: #8CC3E2; font-size: 40px;"></i></br>
        おひとり日和とは
      </button>
    <% end %>
  </div>
  
  <div class="access-button">
    <%= link_to new_user_registration_path do %>
      <button type="button" class="btn btn-default btn-lg access-button-signup">
        <i class="fa fa-user-plus" aria-hidden="true" style="color: #8CC3E2; font-size: 40px;"></i></br>
        新規登録(無料)はこちら
      </button>
    <% end %>
  </div>
  
</div>

<div class="row access-buttons">
  
  <div class="access-button">
    <%= link_to user_session_path do %>
      <button type="button" class="btn btn-default btn-lg access-button-signin">
        <i class="fa fa-sign-in" aria-hidden="true" style="color: #8CC3E2; font-size: 40px;"></i></br>
        ログインはこちら
      </button>
    <% end %>
  </div>
  
  <div class="access-button">
    <%= link_to users_guest_sign_in_path, method: :post do %>
      <button type="button" class="btn btn-default btn-lg access-button-guest">
        <i class="fa fa-sign-in" aria-hidden="true" style="color: #8CC3E2; font-size: 40px;"></i></br>
        お試しログインはこちら
      </button>
    <% end %>
  </div>
  
</div>