<!--トップメッセージ-->

<div class="row top-message">
  
  <h1 class="top-message-title">おひとり日和</h1>
  <h3 class="top-message-subtitle">ひとり暮らしを楽しく素敵に。</h3>
  <p class="top-message-description-title">
    "女性のひとり暮らしを楽しく素敵に"をテーマにした<br class="br-phone" />ライフスタイル投稿サイトです。
  </p>
  <p class="top-message-description">
    お出かけ、雑貨、グルメ、レシピ、ファッション、節約術など</br>
    ひとり暮らしを素敵にする情報が見つかります。
  </p>
  <p class="top-message-title_description">
    「おひとり日和」 ＝ おひとり生活を楽しむのにちょうどよい日。
  </p>
  
</div>