<!--トップページ-->

<div class="top-background">
<div class="container top">

  <!--サイトの説明-->
  <%= render 'homes/top_message' %>

  <!--新規登録・ログインボタン-->
  <%= render 'homes/signin_signup_button' %>

  <!--矢印のアイコン-->
  <%= render 'next_icon' %>

  <!--楽しみ方-->
  <div class="row top-how_to_enjoy">
    <h1 class="top-how_to_enjoy-title">おひとり日和の楽しみかた</h1>
    <div>
      <h3 class="top-how_to_enjoy-subtitle">① ひとり暮らしに役立つヒントが見つかります</h3>
      <p class="top-how_to_enjoy-description">ひとり暮らしの先輩が、生活の知恵を発信しています</p>
      <div class="top-how_to_enjoy-image">！写真が入ります！</div>
    </div>
    <div>
      <h3 class="top-how_to_enjoy-subtitle">② あなたの「楽しい！」を共有できます</h3>
      <p class="top-how_to_enjoy-description">自由に投稿できます</p>
      <div class="top-how_to_enjoy-image">！写真が入ります！</div>
    </div>
    <div>
      <h3 class="top-how_to_enjoy-subtitle">③ あなたの「素敵！」を保存できます</h3>
      <p class="top-how_to_enjoy-description">お気に入りに登録した投稿はいつでも見返すことができます</p>
      <div class="top-how_to_enjoy-image">！写真が入ります！</div>
    </div>
    <div>
      <h3 class="top-how_to_enjoy-subtitle">④ あこがれの人を応援できます</h3>
      <p class="top-how_to_enjoy-description">あこがれの人をフォローすることができます</p>
      <div class="top-how_to_enjoy-image">！写真が入ります！</div>
    </div>
  </div>

  <!--新規登録・ログインボタン-->
  <%= render 'homes/signin_signup_button' %>

</div>
</div>