<!--トップページ-->

<div class="top-background" >
  <div class="container top">
    <!--サイトの説明-->
    <%= render 'homes/top_message' %>
    <!--新規登録・ログインボタン-->
    <%= render 'homes/login_signup_about_button'%>
  </div>
</div>