<!--トップページ-->

<!--背景画像-->
<div class="top-background">
  <!--<h2 class="top_title">ひとり暮らしを楽しく素敵に。</h2>-->

  <div class="container top">
    <!--サイトの説明-->
    <%= render 'homes/top_message' %>

   <!--新規登録・ログインボタン-->
   <%= render 'homes/signin_signup_button'%>

  </div>

</div>