<!--トップページ-->

<!--背景画像-->
<div class="top-background">
  <h2 class="about-top_message">ひとり暮らしを楽しく素敵に。</h2>
</div>

  <div class="container top">
    <!--サイトの説明-->
    <%= render 'homes/top_message' %>

    <!--新規登録・ログインボタン-->
    <%= render 'homes/signin_signup_button' %>

  </div>

</div>