<!--トップページ-->

<!--背景画像-->
<div class="top-background">
  
  <div class="container-xs-12 top">
    <!--サイトの説明-->
    <%= render 'homes/top_message' %>
    <!--新規登録・ログインボタン-->
    <%= render 'homes/signin_signup_about_button'%>
  </div>
  
</div>