/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//共通
body {
  color: #7F7F7F;
  font-family: 'Hannotate SC', 'MS UI Gothic', YuGothic, 'Yu Gothic', 'ヒラギノ角ゴシック', 'Hiragino Sans', sans-serif;
}

//タイトルの区切り線
.border-line {
  border-width: 3px 0 0 0;
	border-style: dashed;
	border-color: #F7E077;
}

//ページトップへの移動ボタン
#top-arrow {
  position: fixed;
  right: 2%;
  bottom: 2%;
}

.top-arrow-button {
  border-radius: 50%;
}

//ヘッダー
.header {
  background-color: #FAF7EE;
}

header {
  margin: 0 5%;
  display: flex;
  justify-content: flex-end;
  height: 200px;
  align-items: center;
  background-color: #FAF7EE;
}

.logo {
  margin-right: auto;
}

.header-buttons {
  display: flex;
}

.header-button {
  margin: 10px;
  padding: 0 auto;
  height: 100px;
  width: 130px;
  line-height: 100px;
  border-radius: 15%;
}

.header-button-my_page,
.header-button-post,
.header-button-favorite,
.header-button-logout
{
  padding: 0 auto;
  height: 100px;
  width: 130px;
  border-radius: 15%;
}

.hamburger-menu {
  display: none;
}

//フッター
.footer {
  height: 250px;
  background-color: #E7E6E3;
}

.footer-title {
  padding-top: 40px ;
  text-align: center;
}

.footer-description {
  padding-top: 15px ;
  text-align: center;
  font-size: 15px;
}

.copyright {
  padding-top: 20px ;
  text-align: center;
  font-size: 13px;
}

//新規会員登録画面
.signup-header,
.signup-footer
{
  height: 150px;
  background-color: #FAF7EE;
}

.logo-image {
  text-align: center;
  line-height: 150px;
}

.signup {
  padding-top: 50px;
  padding-bottom: 100px;
}

.signup-form {
  align-items: center;
  padding: 0 30%;
}

.sign-up-title {
  text-align: center;
}

.signup-form-title {
  padding-bottom: 50px;
}

.signup-form-border {
  padding-bottom: 50px;
}

.signup-form-button {
  padding-top: 50px;
}

.signup-form-signup_button {
  height: 80px;
  background-color: #FCF6D8!important;
}

.login-page-button {
  height: 80px;
  background-color: #D8F1FC!important;
}

//ログイン画面
.login-header,
.login-footer
{
  height: 150px;
  background-color: #FAF7EE;
}

.login {
  padding-top: 50px;
  padding-bottom: 100px;
}

.login-form {
  padding: 0 30%;
  align-items: center;
}

.login-form-border {
  padding-bottom: 50px;
}

.login-title {
  text-align: center;
}

.login-form-button {
  padding-top: 50px;
  text-align: center;
}

.login-form-login_button {
  height: 80px;
  background-color: #FCF6D8!important;
}

.signup-page-button {
  height: 80px;
  background-color: #D8F1FC!important;
}

//パスワード変更画面
.change-password {
  padding-top: 50px;
  padding-bottom: 100px;
}

.change-password-form {
  padding: 0 30%;
  align-items: center;
}

.change-password-form-title {
  padding-bottom: 50px;
}

.change-password-title {
  text-align: center;
}

.change-password-form-button {
  padding-top: 50px;
  text-align: center;
}

.change-password-form-update_button {
  height: 80px;
  background-color: #FCF6D8!important;
}

//ページネーション
.pagination {
  margin: 50px;
  font-size: 20px;
}

//kaminariのデザイン
.pagination > li > a {
  margin: 10px;
  border-radius: 5px;
  color: #7F7F7F;;
}

//(表示しているページ番号のデザイン)
.pagination > .active > a {
  color: #000;
  background-color: #FBEFC4;
  border-color: #FBEFC4;
  border-radius: 5px;
}

//(ホバー時のデザイン)
.pagination > li > a:hover {
  border-radius: 5px;
  background-color: #FBEFC4;
}

//エラーメッセージ
.error-message {
  padding: 10px;
  text-align: center;
  list-style: none;
  border-radius: 15px;
  border: 2px solid #FFD865;
  color: #262626;
}

//タブレット対応
@media screen and (max-width: 768px) {
//ヘッダー
header {
  margin: 0 auto;
  display: block;
  align-items: center;
  height: 150px;
}

.logo {
  margin-right: 0;
  text-align: center;
}

//(ハンバーガーメニュー)
.hamburger-menu {
  display: block;
  position: fixed;
  z-index: 10;
}

.header-buttons {
  display: none;
}

.hamburger-menu-image {
  position: fixed;
  z-index: 10;
  top: 2%;
  right: 2%;
}

.hamburger-menu-lists {
  margin-left: auto;
  position: fixed;
  right: -100%;
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  color: #7F7F7F;
  background-color: #E7E6E3;
  transition: .3s;
}

.hamburger-menu-list {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7F7F7F;
}

.hamburger-menu-lists.open {
  right: 0;
}
}

//スマートフォン対応
@media screen and (max-width: 480px) {
//ヘッダー
header {
  height: 100px;
}

.header-logo {
  margin: 0 auto;
}

.header-logo-image {
  width: 240px;
}

//ページトップへの移動ボタン
.top-arrow-button {
  height: 40px;
  width: 40px;
}

//フッター
.footer {
  height: 180px;
}

.footer-title {
  padding-top: 15px ;
  font-size: 15px;
}

.footer-description {
  padding-top: 10px ;
  font-size: 10px;
}

.copyright {
  padding-top: 15px;
  font-size: 10px;
}

//新規会員登録画面
.signup-header,
.signup-footer
{
  height: 100px;
}

.logo-image {
  height: 100px;
}

.signup-header-image {
  width: 240px;
}

.signup-form {
  padding: 0 20%;
}

.sign-up-title {
  font-size: 25px;
}

.signup-form-border {
  margin-bottom: 10px;
}

.signup-label {
  font-size: 12px;
}

//ログイン画面
.login-header,
.login-footer
{
  height: 100px;
}

.logo-image {
  line-height: 100px;
}

.login-header-image {
  width: 240px;
}

.login {
  padding-bottom: 50px;
}

.login-form {
  padding: 0 20%;
}

.login-title {
  font-size: 25px;
}

//パスワード変更画面
.change-password {
  padding-bottom: 50px;
}

.change-password-form {
  padding: 0 20%;
}

.change-password-title {
  font-size: 25px;
}

//エラーメッセージ
.error-message {
  font-size: 11px;
}

//(ハンバーガーメニュー)
.menu-image {
  height: 40px;
  width: 40px;
}

.hamburger-menu-lists {
  height: 34vh;
  font-size: 20px;
}
}