/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//共通
body {
  color: #7F7F7F;
}

//ページトップへの移動ボタン
#page-top-button {
  position: fixed;
  right: 2%;
  bottom: 2%;
}

//ヘッダー
header {
  height: 190px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 5%;
}

header > :first-child {
  margin-right: auto;
}

.header-button {
  height: 100px;
  width: 130px;
  font-size: 20px;
  line-height: 100px;
  padding: 0 auto;
  margin: 10px;
}

.header-button-about,
.header-button-my_page,
.header-button-post,
.header-button-favorite,
.header-button-logout
{
  height: 100px;
  width: 130px;
  padding: 0 auto;
}

//フッター
footer {
  height: 250px;
  background-color: #EAEAEA;
}

.footer-title {
  padding-top: 40px ;
  text-align: center;
}

.footer-description {
  font-size: 15px;
  padding-top: 15px ;
  text-align: center;
}

.copyright {
  font-size: 13px;
  padding-top: 20px ;
  text-align: center;
}

//新規会員登録画面
.signup {
  padding-top: 100px;
  padding-bottom: 100px;
}

.signup-form {
  padding: 0 30%;
  align-items: center;
}

.signup-title {
  padding-bottom: 50px;
  text-align: center;
}

.signup-form-title {
  padding-bottom: 50px;
  text-align: center;
}

.signup-form-button {
  text-align: center;
  padding-top: 50px;
}

//ログイン画面
.login {
  padding-top: 100px;
  padding-bottom: 100px;
}

.login-form {
  padding: 0 30%;
  align-items: center;
}

.login-form-title {
  padding-bottom: 50px;
  text-align: center;
}

.login-form-button {
  text-align: center;
  padding-top: 50px;
}

//ページネーション
.pagination {
  font-size: 20px;
  margin: 50px;
}

//(kaminariのデザイン)
.pagination > li > a {
  color: #000;
  margin: 10px;
  border-radius: 5px;
}

//(表示しているページ番号のデザイン)
.pagination > .active > a {
  background-color: #FBEFC4;
  color: #000;
  border-color: #FBEFC4;
  border-radius: 5px;
}

//(ホバー時のデザイン)
.pagination > li > a:hover {
  background-color: #FBEFC4;
  border-radius: 5px;
}

//エラーメッセージ
.error-message {
  color: #262626;
  list-style: none;
  text-align: center;
  border: 2px solid #FFD865;
  padding: 10px;
  border-radius: 15px;
}

