/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//ヘッダー
header {
  height: 190px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 5%;
}

header > :first-child {
  margin-right: auto;
}

.header-button {
  height: 100px;
  width: 130px;
  font-size: 20px;
  line-height: 100px;
  padding: 0 auto;
  margin: 10px;
  text-decoration: none
}

.header-button-about,
.header-button-my_page,
.header-button-post,
.header-button-favorite,
.header-button-logout
{
  height: 100px;
  width: 130px;
  padding: 0 auto;
}

.header-border {
  width: 90%;
  height: 4px;
  border-bottom: 5px solid #CCC;
  margin: 0 auto;
}

//フッター
footer {
  height: 250px;
  background-color: #dcdcdc;
}

.footer-title {
  padding-top: 40px ;
  text-align: center;

}

.footer-description {
  font-size: 15px;
  padding-top: 15px ;
  text-align: center;
}

.copyright {
  font-size: 13px;
  padding-top: 20px ;
  text-align: center;
}

//ログイン画面
.login {
  padding-top: 100px;
}

.login-row {
  padding: 0 30%;
  align-items: center;
}

.login-title {
  text-align: center;
}

//新規会員登録画面
.signup-row {
  padding: 0 30%;
  align-items: center;
}