// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//投稿一覧画面
.article-index-top {
  background-image: url('background-index.jpg');
  height: 300px;
  background-size: cover;
  background-position: bottom;
  background-color: rgba( 255, 255, 255, 0.4);
  background-blend-mode: lighten;
}

.article-index-top_message {
  padding-top: 100px;
  text-align: center;
}

.article-index-title {
  text-align: center;
  padding-top: 50px;
}

.article-index-genre {
  margin: 80px;
  display: flex;
  justify-content: center;
}

.article-index-genre-button {
  margin: 10px;
}

//投稿一覧表示の部分テンプレート
.article-index-articles {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.article-index-articles-image {
  margin-right: 20px;
  text-align: right;
}

.article-index-articles-title {
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
  text-align: left;
}

.article-index-articles-body {
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
}

//投稿詳細画面
.article-show-user-show {
  padding-top: 50px;
  padding-bottom: 30px;
}

.article-show-article {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.article-show-article-title_body {
  font-size: 20px;
  padding: 20px;
}

.article-show-article-title {
  font-size: 25px;
}

.article-show-button {
  display: flex;
  justify-content: center;
}

.article-show-button-return,
.article-show-button-edit,
.article-show-button-delete,
.article-show-button-favorite
{
  margin: 30px;
}

.article-show-comment_form {
  padding: 50px;
  text-align: center;
}

.article-show-comment {
  text-align: center;
  padding: 20px;
}

.article-show-comment-image {
  text-align: right;
}

.article-show-comment-nickname {
  padding-top: 5px;
}

.article-show-comment-info {
  text-align: left;
}
