// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//新規投稿画面
.new-article {
  padding-top: 100px;
  padding-bottom: 100px;
}

.new-article-title {
  text-align: center;
}

.new-article-border {
  padding-bottom: 50px;
}

.new-article-row {
  padding: 0 30%;
  align-items: center;
  text-align: center;
}

.select-article-image {
  margin: 10px auto;
}

.new-article-button, {
  height: 80px;
  background-color: #FCF6D8!important;
}

.new-articl-button-return {
  margin-top: 30px;
  height: 80px;
}

//投稿一覧画面
.article-index {
  padding-bottom: 100px;
}

.article-index-title {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.article-index-body {
  display: flex;
  justify-content: center;
}

.article-index-side_bar {
  width: 25%;
}

.article-index-side_bar-title {
  padding: 10px 30px;
  text-align: center;
  border-radius: 100vh;
  background-color: #E7E6E3;
}

//(ここから　検索窓)
.article-index-search {
  padding-bottom: 20px;
}

.article-index-search-box {
  text-align: center;
}
//(ここまで)

//(ここから　ジャンル検索)
.article-index-genre {
  padding-bottom: 20px;
}

.article-index-genre-button {
  margin: 10px;
  padding-left: 30px;
}
//(ここまで)

//(ここから　人気の投稿・おすすめ投稿)
.article-index-ranking,
.article-index-recommend
{
  display: flex;
  padding-left: 30px;
}

.article-index-ranking-image_title,
.article-index-recommend-image_title
{
  margin: 5px;
}

.article-index-ranking-title,
.article-index-recommend-title
{
  padding-top: 25px;
}
//(ここまで)

.article-index-main {
  width: 70%;
}

//投稿一覧表示の部分テンプレート
.article-index-article {
  display: flex;
  padding-bottom: 10px;
}

.article-index-article-image {
  padding-right: 5%;
  padding-left: 15%;
  text-align: right;
}

.article-index-article-title-body {
  padding-top: 20px;
  padding-left: 20px;
  text-align: left;
  font-size: 20px;
}

.article-index-article-body,
.article-index-article-tag
{
  padding-top: 5px;
}

//投稿詳細画面
.article-show {
  padding-top: 100px;
  padding-bottom: 100px;
}

.article-show-article {
  margin-bottom: 30px;
  padding: 100px 20% 0;
  display: flex;
  justify-content: center;
}

.article-show-article-title_tag_body {
  padding: 20px;
  font-size: 20px;
}

.article-show-article-title {
  font-size: 25px;
}

.article-show-article-tag,
.article-show-article-body
{
  padding-top: 10px;
}

.article-show-button {
  display: flex;
  justify-content: center;
}

.article-show-button-return,
.article-show-button-edit,
.article-show-button-delete,
.article-show-button-favorite
{
  margin: 50px 20px 0 30px;
  height: 55px;
  width: 210px;
}

.article-show-comment_form {
  margin: 0 auto;
  padding-top: 150px;
  padding-bottom: 50px;
  text-align: center;
}

.article-show-comment_form-text_area {
  text-align: right;
}

.article-show-comment_form-text_area-size {
  width: 70%;
}

.article-show-comment_form-submit_button {
  margin: 10px 0 10px 20px;
  text-align: left;
}

//(ここから　コメント表示の部分テンプレート)
.article-show-comment {
  padding-bottom: 10px;
}

.article-show-comment-image {
  text-align: right;
}


.article-show-comment-info {
  text-align: left;
}

.article-show-comment-nickname {
  padding-top: 10px;
  font-size: 18px;
}

.article-show-comment-comment {
  padding-top: 10px;
  font-size: 18px;
}

.article-show-comment-destroy {
  padding-top: 50px;
  text-align: left;
}
//(ここまで)

// 投稿編集画面
.edit-article {
  padding-top: 100px;
  padding-bottom: 100px;
}

.edit-article-title {
  text-align: center;
}

.edit-article-border {
  padding-bottom: 50px;
}

.edit-article-row {
  padding: 0 30%;
  align-items: center;
  text-align: center;
}

.edit-articl-button-return {
  margin-top: 30px;
  height: 80px;
}

.edit-article-image {
  margin: 10px auto;
}

.edit-article-button {
  height: 80px;
  background-color: #FCF6D8!important;
}

//タブレット対応
@media screen and (max-width: 768px) {
//投稿一覧画面
.article-index-title {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.article-index-body {
  margin: 0 auto;
  display: block;
}

.article-index-side_bar {
  margin: 0 auto 50px;
  width: 90%;
}

.article-index-side_bar-title {
  margin: 0 auto;
  width: 60%;
}

//(ここから　ジャンル検索)
.article-index-genres {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.article-index-genre-button {
  margin: 5px;
  padding-left: 0;
}
//(ここまで)

//(ここから　人気の投稿・おすすめ投稿)
.article-index-ranking,
.article-index-recommend
{
  padding-left: 0;
}

.article-index-ranking-image_title,
.article-index-recommend-image_title
{
  margin: 10px;
}

.article-index-side_bar-flex {
  display: flex;
  justify-content: center;
}

.article-index-ranking-title,
.article-index-recommend-title
{
  display: none;
}
//(ここまで)

//(投稿一覧表示の部分テンプレート)
.article-index-main {
  padding-left: 30px;
  width: 90%;
}

.article-index-article-image {
  padding-right: 0;
  padding-left: 10%;
}

//投稿詳細画面
.article-show-article {
  display: block;
}

.article-show-article-image {
  text-align: center;
}

.article-show-comment_form-text_area {
  margin-left: 3%;
}

.article-show-comment_form-text_area-size {
  width: 80%;
}

.article-show-comment_form-submit_button {
  margin: 10px 0 10px 5px;
}

.article-show-button-return,
.article-show-button-edit,
.article-show-button-delete,
.article-show-button-favorite
{
  margin: 50px 5px 0 5px;
  height: 55px;
  width: 200px;
}
}

//スマートフォン対応
@media screen and (max-width: 480px) {
//新規投稿画面
.new-article {
  padding-top: 50px;
  padding-bottom: 50px;
}

.new-article-title {
  font-size: 30px;
}

.new-article-row {
  padding: 0 20%;
}

.new-article-image {
  height: 250px;
  width: 250px;
}

.new-article-subtitle {
  font-size: 20px;
}

//投稿一覧画面
.article-index {
  padding-bottom: 50px;
}

.article-index-title {
  padding-top: 50px;
  padding-bottom: 50px;
}

.article-index-title-title {
  font-size: 25px;
}

//投稿一覧表示の部分テンプレート
.article-index-article {
  padding-bottom: 5px;
}

.article-index-article-image {
  padding-right: 3%;
  padding-left: 3%;
}

.article-index-article-image-size {
  height: 100px;
  width: 100px;
}

.article-index-article-title-body {
  padding-top: 1px;
  padding-left: 0;
  font-size: 13px;
}

.article-index-article-title {
  margin-bottom: 0;
}

.article-index-article-body,
.article-index-article-tag
{
  padding-top: 3px;
}

//投稿詳細画面
.article-show-button {
  display: block;
  width: 70vw;
  margin: 0 auto;
}

.article-show-button-return,
.article-show-button-edit,
.article-show-button-delete,
.article-show-button-favorite
{
  margin: 15px 30%;
  width: 210px;
}

.article-show-comment_form {
  padding-top: 50px;
  display: block;
}

.article-show-comment_form-text_area-size {
  height: 100px;
  width: 200px;
}

.article-show-comment_form-submit_button {
  margin: 30px 0 0 0;
}
}
