// Place all the styles related to the Favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//お気に入り投稿一覧表示画面
.favorite-article {
  margin-top: 100px;
  margin-bottom: 100px;
}

.favorite-article-title {
  padding: 100px 20% 0;
  text-align: center;
}

.favorite-article-index-pagination {
  text-align: center;
}

//スマートフォン対応
@media screen and (max-width: 480px) {
//お気に入り投稿一覧表示画面
.favorite-article-title {
  padding: 50px 20% 0;
}

.favorite-article-title-title {
  font-size: 25px;
}

.favorite-article-index-main {
  width: 90%;
}
}