// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//トップページ
.top-background {
  background-image: image-url("background-top.jpg");
  height: 100%;
  width: 100%;
  background-size: cover;
}

.top {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  align-items: center;
  background-color: #fff;
}


//(ここから　サイトの説明部分テンプレート)
.top-message-subtitle {
  padding-top: 50px;
}

.top-message-description-title {
  padding-top: 30px;
  font-size: 16px;
}

.top-message-description {
  padding-top: 5px;
  font-size: 16px;
}

.top-message-title_description {
  padding-top: 60px;
  font-size: 16px;
}
//(ここまで)

//(ここから　ログイン・新規登録ボタンの部分テンプレート)
.top-access {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.top-access-button {
  margin: 10px;
}
//(ここまで)

//矢印アイコンの部分テンプレート
.top-next-icon {
  padding: 40px;
  font-size: 4em;
  color: #F5CC50;
}

.top-how_to_enjoy-subtitle {
  padding-top: 50px;
}

.top-how_to_enjoy-description {
  padding-top: 20px;
  font-size: 16px;
}

//ここは写真を入れたら削除する
.top-how_to_enjoy-image {
  padding-top: 10px;
  width: 400px;
  height: 250px;
  background-color: #CCC;
  margin: 0 auto;
}

//Aboutページ
.about-top {
  background-image: image-url("background-index.jpg");
  height: 400px;
  background-size: cover;
  background-position: bottom;
  background-color: rgba( 255, 255, 255, 0.4);
  background-blend-mode: lighten;
}

.about-top_message {
  padding-top: 150px;
  text-align: center;
}

.about {
  padding-bottom: 100px;
  text-align: center;
  align-items: center;
}

.about-site {
  padding-top: 50px;
}

.about-how_to_enjoy-subtitle {
  padding-top: 50px;
}

.about-how_to_enjoy-description {
  padding-top: 20px;
  font-size: 16px;
}

//ここは写真を入れたら削除する
.about-how_to_enjoy-image {
  padding-top: 10px;
  width: 400px;
  height: 250px;
  background-color: #CCC;
  margin: 0 auto;
}