// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//トップページ
.top-background {
  background-image: image-url("top_background_image.jpg");
  background-size: cover;
  background-position: bottom;
  background-color: rgba( 255, 255, 255, 0.4);
  background-blend-mode: lighten;
}

.top_title {
  padding-top: 150px;
  text-align: center;
}

.top {
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
  text-align: center;
}

//(ここから　サイトの説明部分テンプレート)
.top-message-subtitle {
  padding-top: 60px;
}

.top-message-description-title {
  padding-top: 50px;
  font-size: 16px;
}

.top-message-description {
  padding-top: 5px;
  font-size: 16px;
}

.top-message-title_description {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 16px;
}
//(ここまで)

//(ここから　ログイン・新規登録ボタンの部分テンプレート)
.access-buttons {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.access-button {
  margin: 10px;
  padding: 20px auto;
}

.access-button-top,
.access-button-about,
.access-button-signup,
.access-button-signin,
.access-button-guest
{
  padding: 0 auto;
  height: 100px;
  width: 240px;
}

.about-signin_signup_button {
  padding-top: 100px;
}
//(ここまで)

.top-how_to_enjoy-subtitle {
  padding-top: 50px;
}

.top-how_to_enjoy-description {
  padding-top: 20px;
  font-size: 16px;
}

//ここは写真を入れたら削除する
.top-how_to_enjoy-image {
  margin: 0 auto;
  padding-top: 10px;
  height: 250px;
  width: 400px;
  background-color: #CCC;
}

//Aboutページ
.about-background {
  background-image: image-url("about_background_image.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
}

.about {
  padding-top: 50px;
  padding-bottom: 100px;
  align-items: center;
  text-align: center;
}

.about-site {
  padding-top: 50px;
}

.top-next-icon {
  padding: 40px;
  font-size: 70px;
}

.about-how_to_enjoy-subtitle {
  padding-top: 60px;
}

.about-how_to_enjoy-title {
  padding-bottom: 10px;
}

.about-how_to_enjoy-description {
  margin-bottom: 20px;
  padding-top: 20px;
  font-size: 16px;
}
