// Place all the styles related to the Relationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//フォローユーザー一覧表示画面
.following-index {
  margin-top: 100px;
}

.following-index-user {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.following-index-title {
  padding: 100px 20%;
  text-align: center;
}

.following-index-user-image {
  margin-right: 20px;
  text-align: right;
}

.following-index-user-nickname,
.following-index-user-living_alone_month
{
  padding-top: 20px;
  padding-left: 20px;
  text-align: left;
  font-size: 20px;
}

.following-index-user-nickname-san {
  font-size: 16px;
}

.following-index-user-living_alone_month {
  padding-top: 20px;
  padding-left: 20px;
  text-align: left;
  font-size: 20px;
}

.following-index-user-follow_button {
  padding-top: 50px;
}

.following-article-index-paginate {
  padding-bottom: 100px;
}