// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//マイページ・ユーザー詳細画面
.user-show {
  padding-top: 100px;
}

.user-show-info-box {
  display: flex;
  justify-content: center;
}

//(ここから　ユーザー表示の部分テンプレート)
.user-show-info-image {
  padding-right: 3%;
  padding-left: 20%;
}

.user-show-info-my-image {
  padding-right: 3%;
}

.user-show-info-details {
  padding-right: 3%;
}

.user-show-info-name {
  padding-top: 20px;
  font-size: 20px;
}

.user-show-info-follower {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 20px;
  text-align: left;
}

.user-show-info-nav {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.user-show-info-nav-button{
  margin: 5px;
}

.user-show-info-nav-my_article,
.user-show-info-nav-favorite,
.user-show-info-nav-following,
.user-show-info-nav-followed,
.user-show-info-nav-setting
{
  height: 70px;
  width: 170px;
}

.user-show-info-details {
  padding-top: 20px;
  text-align: left;
}

.user-show-info-nickname,
.user-show-info-living_alone_month
{
  font-size: 20px;
}

.user-show-info-introduction {
  font-size: 15px;
}

.user-show-info-follow_button {
  line-height: 150px;
}
//(ここまで)

.user-show-article-index,
.favorite-article-index
{
  padding-top:100px;
  width: 90%;
}

.user-show-article-index-paginate,
.favorite-article-index-paginate
{
  padding-bottom: 100px;
}

//会員情報編集画面
.user-edit {
  padding-top: 100px;
  padding-bottom: 100px;
}

.user-edit-title {
  text-align: center;
}

.user-edit-error,
.user-edit-form,
.user-edit-password,
.user-edit-unsubscribe
{
  padding: 0 30%;
  align-items: center;
  text-align: center;
}

.user-edit-form-label {
  padding-top: 20px;
}

.user-edit-form-profile_image {
  margin: 10px auto;
}

.user-edit-form-button {
  margin-top: 50px;
  margin-bottom: 50px;
}

.user-edit-border {
  border-width: 2px 0 0 0;
	border-style: solid;
	border-color: #E7E6E3;
}

.user-edit-password {
  margin-top: 50px;
  text-align: center;
}

.user-edit-update_button {
  height: 80px;
  background-color: #FCF6D8!important;
}

.user-edit-password-button {
  height: 80px;
}

.user-edit-unsubscribe-button {
  height: 80px;
}

//退会確認画面
.user-edit-unsubscribe {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.unsubscribe {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.unsubscribe-title {
  margin: 0 auto;
  padding: 0 25% 50px 25%;
  text-align: center;
}

.unsubscribe-message {
  padding-bottom: 50px;
  line-height: 40px;
  font-size: 20px;
}

.unsubscribe-button {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

.unsubscribe-button-back {
  margin-right: 20px;
  height: 80px;
  width: 250px;
  background-color: #FCF6D8!important;
}

.unsubscribe-button-confirm {
  margin-left: 20px;
  height: 80px;
  width: 250px;
  background-color: #FBD9C4!important;
}

//タブレット対応
@media screen and (max-width: 768px) {
//マイページ(ユーザー詳細画面)
.user-show-info {
  display: block;
}

.user-show-info-image {
  padding: 0;
}

.user-show-info-details {
  padding-right: 0;
  line-height: 30px;
   text-align: center;
}

.user-show-info-nickname {
  padding-top: 0;
  font-size: 20px;
}

.user-show-info-follow_button {
  line-height: 50px;
  text-align: center;
}

//(ここから　ユーザー表示の部分テンプレート)
.user-show-info-box {
  display: block;
  justify-content: center;
}

.user-show-info-image {
  text-align: center;
  margin-left: 3%;
}

.user-show-info-name {
  padding-left: 10px;
  text-align: center;
}

.user-show-info-follower {
  text-align: center;
}

.user-show-info-nav {
  flex-wrap: wrap;
}
//(ここまで)
}