// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//マイページ・ユーザー詳細画面
.user-show {
  margin-top: 50px;
  margin-bottom: 50px;
}

//(ここからユーザー表示の部分テンプレート)
.user-show-info-image {
  text-align: right;
}

.user-show-info-name {
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
  text-align: left;
}

.user-show-info-follower {
  font-size: 20px;
  text-align: left;
  padding-left: 20px;
  padding-top: 20px;
}

.user-show-info-nav {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.user-show-info-nav-favorite,
.user-show-info-nav-following,
.user-show-info-nav-setting
{
  margin: 0 20px;
}

.user-show-info-details {
   padding-top: 20px;
   text-align: left;
   font-size: 20px;
}

.user-show-info-follow_button {
  line-height: 150px;
}
//(ここまで)

.user-show-article {
  padding-top: 100px;
}

.user-show-article-row {
  padding-top: 20px;
  display: flex;
}

.user-show-article-image {
  margin-right: 20px;
}

.user-show-article-title {
  font-size: 20px;
  padding-top: 20px;
}

.user-show-article-body {
  font-size: 20px;
}

//会員情報編集画面
.user-edit-title {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

.user-edit-form {
  justify-content: center;
  padding-right: 20%;
  padding-left: 20%;
  margin: 20px;
}

.user-edit-form-label {
  font-size: 20px;
  margin: 0 auto;
}

.user-edit-form-image {
  margin: 10px;
}

.user-edit-form-button {
  text-align: center;
  margin-bottom: 50px;
}

.header-border {
  width: 50%;
  height: 1px;
  border-bottom: 5px solid #CCC;
  margin: 0  auto;
}

.user-edit-password {
  text-align: center;
  margin-top: 50px;
}

.user-edit-unsubscribe {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}