<!--フッター の部分テンプレート-->

<div class="container-fluid footer">
  <h3 class="footer-title">おひとり日和</h3>
  <p class="footer-description">
    おひとり日和は、「ひとり暮らしを楽しく素敵に。」をテーマにした</br>
    ライフスタイル投稿サイトです。
  </p>
  <p class="copyright">©2020 aika</p>
</div>